name: PHP-CS-Fixer syle check

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    name: Code Syle

    steps:
      - uses: actions/checkout@v2
      - name: PHP-CS-Fixer
        uses: docker://oskarstark/php-cs-fixer-ga
        with:
          args: --config=.php_cs.dist --diff --dry-run
